@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    font-size: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, "Lexend Deca";
    color: white;
}

body {
    padding: 10% 10%;
    background-color: hsl(233, 47%, 7%);
}

.card {
    width: auto;
    height: auto;
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "content image";
}

.overlay {
    grid-area: image;
    overflow: hidden;
    background: hsl(277, 64%, 61%);
    opacity: 0.5;
}

#hero {
    grid-area: image;
    filter: contrast(1.3);
}

.content {
    padding: 10% 25% 10% 15%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 50%;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tagline {
    font-size: 2.1rem;
}

#emphasis {
    color: hsl(277, 64%, 61%);
}

.subtitle {
    color: hsla(0, 0%, 100%, 0.75); 
    line-height: 1.6rem;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.stats h2 {
    font-size: 1.5rem;
}

.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
